<script src="/static/assets/js/pages/air_fog.js"></script>

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Air Quality Live Data in <i>Thu Duc</i></h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="airTable">
                            <thead class="text-primary">
                            <tr>
                                <th>
                                    Device ID
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                    Timestamp
                                </th>
                                <th>
                                    PM2.5
                                </th>
                                <th class="text-right">
                                    Evaluation
                                </th>
                            </tr>
                            </thead>
                            <tbody id="airTableBody" class="tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        air_fog.init();
    })


</script>