<script src="/static/assets/js/pages/camera.js"></script>
<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Camera Surveillance System</h5>
                </div>

                <label id="noCamLabel" style="padding: 15px;">No camera to display</label>

                <div class="row" style="padding:15px;">
                    <div class="table-responsive col-md-2" id="cameraList"></div>
                    <div class="col-md-10" id="cameraDetail" style="display:none;">
                        <h5 id="cameraDesc" style="padding: 15px;"></h5>
                        <div class="table-responsive">
                            <table class="table" id="violationTable">
                                <thead class="text-primary">
                                <tr>
                                    <th>
                                        Timestamp
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th class="text-right">
                                        Evidence
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="violationTableBody" class="tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        camera_page.init();
    })
</script>